@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300&family=Lexend+Mega:wght@300&display=swap');

body{
    font-family: 'Geologica', sans-serif;
    font-family: 'Lexend Mega', sans-serif;
    color:#2D3155;
    background-color: #EDF2F4;
}

